$width-middle:1150px;
$width-min:950px;
$width-small:765px;
$width-max:1300px;
$color:rgb(1,186,188);

#second{
  background-color: $color;
  color:white;
  div{
    .a{
      img{
        width:74%;
        margin-left: 24%;
        margin-top: 10.29%;
      }
    }
    .b{
      img{
        width:66.66%;
        margin-top: 26.47%;
      }
    }
  }
}